[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency-injector = "*"
pydantic = "*"
flask = "*"
gin-config = "*"
scikit-learn = "*"
pymongo = "*"
kafka = "*"
environs = "*"
uvloop = "*"
demoapp = {file = ".", editable = true}

[dev-packages]
tox = "*"
pytest = "*"
pre-commit = "*"
black = "*"
isort = "*"
ipython = "*"
sphinx = "*"
line-profiler = "*"
pytest-cov = "*"
aiokafka = "*"
git-cliff = "*"
commitizen = "*"
docformatter = "*"
ruff = "*"

[requires]
python_version = "3.11"
